<div *ngIf="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Oh rayos!</strong> Las contraseñas deben ser iguales.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="form-group row">
        <label for="" class="col-4 col-form-label">Nueva Contraseña</label>
        <div class="col-8">
            <input id="" name="" type="text" class="form-control" #password1>
        </div>
    </div>
    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Repita Contraseña</label>
        <div class="col-8">
            <input id="text" name="text" type="text" class="form-control" #password2>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button type="button" class="btn btn-primary" (click)="cont(password1.value,password2.value)">Aceptar</button>
        </div>
    </div>
</form>